<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="/static/logo.png">
    <title>Account Page</title>
</head>

<body>
    <div align="center">

        <div
            style="display: flex;justify-content: space-between;align-items: center;background-color: rgba(255, 255, 255, 0.35);padding: 5px;">
            <div style="display: flex;justify-content: center;align-items: center;">

                <div style="background-color: rgb(79, 137, 122);border-radius: 10%;padding: 5px;margin-right: 10px;">
                    <img src="/static/logo.png" width="70px" height="70px">
                </div>
                <a href="/best_selling_products">
                    <div style="width: 280px;margin-right: 10px;margin-left: 10px;">
                        <img src="/static/gifs/D80650255_1242x350_A.gif" width="100%" height="auto"
                            style="border-radius: 10px;">
                    </div>
                </a>

                <a href="/home/user" class="btn">Home</a>
                <a href="/cart" class="btn">Cart</a>
                <a class="active_btn">Account</a>

                <form action="#" method="POST" style="margin-left: 10px;">
                    <div
                        style="display: flex;justify-content: center;align-items: center;background: rgba(0, 0, 0, 0.2);border: 1.5px solid white;border-radius: 10px;">
                        <img src="/static/icons/search.png" width="20px" height="20px" style="margin: 5px;">
                        <input type="text" autocomplete="off" name="search_keyword" placeholder="Search for groceries"
                            style="margin: 0px;border: none;background: none;text-align: left;outline: none;margin: 2px;border-radius: none;"
                            required>
                    </div>
                </form>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;">
                <h2 style="margin-right: 15px;">{{user.Name}}</h2>
                <a href="/logout" class="btn" style="border:solid 1px white">Log-Out</a>
            </div>
        </div>
        <br>

        <h2 style="margin-top: 0px;">My Account</h2>
        <h3 style="color: white;">Orders Summary</h3>
        <table class="table" cellspacing="0" cellpadding="0">
            <tr>
                <th></th>
                <th>Order Id</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Payment Method</th>
                <th>Address</th>
                <th>Total</th>
            </tr>
            {% for items in order_entries %}
            <tr>
                <td style="width:60px">
                    <img class="cart_image" src={{items[1].Image}}>
                </td>
                <td>{{ items[0].Id }}</td>
                <td>{{ items[1].Name }}</td>
                <td>{{ items[0].ProductQuantity }}</td>
                <td>{{ items[1].Units }} </td>
                <td>{{ items[0].PaymentMethod }}</td>
                <td>{{ items[0].Address }}</td>
                <td>{{ items[0].TotalAmount }} </td>
            </tr>

            {% endfor %}

        </table>

    </div>
    <br>
    <br>
</body>

</html>