<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add {{product.Name}} to Cart</title>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="/static/logo.png">
</head>

<body>
    <div align="center">
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <div>
              <img src="/static/logo.png" width="100px" height="100px">
              <br>
              <a href="/logout" class="btn">Log-Out</a>
            </div>
            <div style="display: flex;align-items: center;justify-content: center;" class="nav">
              <a href="/home/user" class="btn">Home</a>
              <a href="/cart" class="btn">Cart</a>
              <a href="/search" class="btn">Search</a>
              <a href="/user/account" class="btn">Account</a>
            </div>
            <img src="/static/logo.png" width="100px" height="100px" style="opacity: 0;">
          </div>
        <h2 style="margin: 5px;">Add {{product.Name}} to Cart</h2>
        <div style="display: flex;justify-content: center;align-items: center;">
            <div align="center" class="product_section">
                <img src={{product.Image}} class="product_image">
                <div class="product_info">
                    <p>Price: {{product.Price}} {{product.Units}}</p>
                    <p>Expiry: {{(product.ExpiryDate|string).split()[0]}}</p>
                </div>
            </div>
            <form class="form" method="POST" action="#">
                <label for="quantity">Quantity</label>
                <br>
                <input type="range" name="quantity" value="1" min="1" max={{product.Quantity}}
                    style="outline: 2px solid white;" oninput="document.getElementById('display_total').innerHTML = 'Total Amount: Rs. '+{{product.Price}}*this.value;
                document.getElementById('display_quantity').innerHTML = 'Quantity: '+this.value+' {{(product.Units|string).split('/')[1]}}';">
                <h4 id="display_quantity" style="margin:5px;color: white;">Quantity: 1 {{(product.Units|string).split('/')[1]}}</h4>
                <h4 id="display_total" style="margin: 5px;color: white;">Total Amount: Rs. {{product.Price}}</h4>
                <br>
                <input type="submit" class="checkout_btn" style="font-size: 18px;" value="Add To Cart">
            </form>
        </div>
    </div>
</body>

</html>