<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="/static/logo.png">
    <title>Edit Category</title>
</head>

<body>
    <div align="center">
        <div
            style="display: flex;justify-content: space-between;align-items: center;background-color: rgba(255, 255, 255, 0.35);padding: 5px;">
            <div style="display: flex;justify-content: center;align-items: center;">

                <div style="background-color: rgb(79, 137, 122);border-radius: 10%;padding: 5px;margin-right: 10px;">
                    <img src="/static/logo.png" width="70px" height="70px">
                </div>

                <a href="/home/admin" class="btn">Home</a>
                <a href="admin/account" class="btn">Account</a>
            </div>
            <a href="/adminlogout" class="btn" style="border:solid 1px white">Log-Out</a>
        </div>
        <br>

        <div align='center'>
            <form action="#" autocomplete="off" enctype="multipart/form-data" method="POST" class="form">
                <h2 style="margin-top: 0px;">Edit Category</h2>
                <label>Name</label>
                <br>
                <input type='text' name="category_name" value="{{category.Name}}" maxlength="25" required></input>
                <br>
                <br>
                <label for='image'>Category Image</label>
                <br>
                <input type="file" name="category_image" accept="image/*" style="width: 210px;">
                <br>
                <br>
                <input type="submit" class="checkout_btn" value="Submit">
            </form>
        </div>
        <br>
        <br>
</body>

</html>